* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contactUs::-webkit-scrollbar {
    display: none;
}

.title {
    text-transform: uppercase;
}

#contactHeading {
    font-size: 0em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

#contactHeading {
    text-align: center;
    font-size: 14vw;
    text-transform: uppercase;

}

.contactMap {
    width: 100%;
    height: 60vh;
}

a {
    text-decoration: none;
    font-style: normal;
    color: white;
}

.inputBox {
     padding: 10px;
     display: flex;  
     flex-direction: column;
     text-align: center;
     text-decoration: none;
     width: 100%;
}

input {
    background:#3b4f8879;
    color: white;
    padding: 1.5em;
    border: none;
    width: 100%;

}

textarea {
    background:#3b4f8879;
    border-style: none;
    padding: 1em;
    width: 100%;
    height: 10em;
    color: white;
}

span {
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-flex;
    
    ion-icon {
        font-size: 3em;
    }
}

.infoBoxChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em ;
    width: 60%;
    margin: auto;
}

#contactInfoh1 {
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
}

#addressP {
    font-size: 0.8em;
    text-decoration: none;
    color: white;

}

.nameSurnameBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emailMobileBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media only screen and (min-width: 660px) {

#contactMain {
    position: relative;
    bottom: 0;
}

   form {
    padding-top: 0em;
     
} 
    .box {
        height: 100vh;
    }

    #contactHeading {
        font-size: 3em;
    }

    .nameSurnameBox {
        flex-direction: row;
        width: 100%;
    }
    
    .emailMobileBox {
        flex-direction: row;
    }

    .contactForm {
         height: 100vh;
    }

.contactMap {
    height: 50vh;
}

.contactInfo {
    display: flex;
    width: 100%;
    height: 10em;
    flex-direction: row;
}

    .infoBoxChild {
        width: 100%;
        padding: 0;
        flex-direction: column;
        text-align: center;
    }

}

@media only screen and (min-width: 730px){

.contactInfo {
    flex-direction: row;
}

.contactForm {
    padding: 0;
    margin: 0;
}


.contactHeading {
    font-size: 6em;
}


.infoBoxChild {
    width: 100%;
    height: 100%;
}

#contactInfoh3 {
    font-size: 5vw;

}

}

@media only screen and (min-width: 1000px){
  
    #contactMain {
         display: flex;
         flex-direction: row;
         justify-content: center;
    }
  

form {
    margin: auto;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    .inputBox{
        display: flex;
        padding: 0px 0;
        gap: 10px;

    }
    
}

.contactMap {
    width: 100%;
    height: 100%;
}

.boxContainers {
    width: 100%;
    height: 100%;
}

#contactHeading {
    font-size: 3em;
    text-transform: uppercase;
}


.contactInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoBoxChild {
    flex-direction: column;
}

#contactInfoh3 {
    font-size: 2em;
}

iframe {
    margin: auto;
}
}

@media only screen and (min-width: 1200px){
#contactMain {
    padding: 0 3em;
}

}

@media only screen and (min-width: 1600px){
    .contactForm {
        width: 1700px;
        height: 80vh;
    }  
}



