* {
    // border: solid 1px black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contactUs {
    background: $blue;
    overflow: scroll;
    scrollbar-width: none;

}

.contactUs::-webkit-scrollbar {
    display: none;
}

.title {
    text-transform: uppercase;
}

.box {
    gap: 2em;
}

#contactHeading {
    font-size: 0em;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#contactHeading {
    text-align: center;
    font-size: 14vw;
    text-transform: uppercase;

}

.contactForm {
    margin: auto;
}

.inputBox {
     padding: 0 0.5em;
     display: flex;  
     flex-direction: column;
     text-align: center;
    text-decoration: none;

    width: 100%;

}

input {
    background:#3b4f8879;
    color: white;
    padding: 1em;
    border: none;
    width: 100%;

}

textarea {
    background:#3b4f8879;
    border-style: none;
    padding: 1em;
    width: 100%;
    height: 10em;
    color: white;
}

span {
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-flex;
    
    ion-icon {
        font-size: 3em;
    }
}

.infoBoxChild {
    display: flex;
    align-items: center;
    padding: 3em ;
    width: 100%;
}

#contactInfoh1 {
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
}

#addressP {
    font-size: 0.8em;
    text-decoration: none;
    color: white;

}

.nameSurnameBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emailMobileBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media  screen and (min-width: 600px) {

    .contactForm {
        padding: 1em 6em;
    }

    .infoBox {
        flex-direction: row;

    }

    .infoBoxChild {
        padding: 0;
        justify-content: center;

    }

    .nameSurnameBox {
        flex-direction: row;
        width: 100%;
    }
    
    .emailMobileBox {
        flex-direction: row;
    
    }
}

@media screen and (min-width: 730px){

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.contactForm {
    padding: 0;
    margin: 0;
}

.contactHeading {
    font-size: 6em;
}


.infoBoxChild {
    width: 100%;
    height: 100%;
}

#contactInfoh3 {
    font-size: 5vw;

}

.contactMap {
   height: 70%;
}

.contactMap2 {
    display: none;
}
}

@media screen and (min-width: 1000px){

.box {
    flex-direction: row;
    width: 100vw;
    height: 100%;
    margin: auto;
    gap: 0;
}

.boxContainers {
    height: 100%;
}

#contactHeading {
    font-size: 3em;
    text-transform: uppercase;
}

Form {
    justify-content: space-evenly;

}

.contactForm {
    flex-direction: row;
    display: flex;
    height: 100%;
}


.contactInfo {
    height: 100%;

    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
}

.contactMap {
    width: 50.333333%;
    display: flex;
    justify-content: center;
}

.infoBox {
    flex-direction: column;
}

.infoBoxChild {
    flex-direction: column;
}

#contactInfoh3 {
    font-size: 2em;
}

iframe {
    margin: auto;
}

}

@media screen and (min-width: 1200px){
    .contactForm {
        width: 33.333333%;
    }
}

@media screen and (min-width: 1600px){
    .box {
        width: 99vw;
        height: 80vh;
    }
}



