

.slogan-container {
    width: 100%;
    display: flex;
    padding: 5px ;
    text-align: center;
}

#slogan {
    font-size: 0.8em;
    width: 100%;
    margin: auto;
}

p {
    color: white;
    text-decoration: none;
    list-style: none;
}

.indexMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh
}

.slideshow-container {
    @include slideShow;
    width: 100%;
    height: 70vh;
}

@media (min-height: 850px) {
    .slideshow-container {
        height: 70vh;
    }
}

.mySlides {
 height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.dotsContainer {
    display: none;
}

/* --------------------------- Contact Info Footer ------------------- */

.contact-info-container {
    background-color: #202a45b9;
    display: flex;
    position: relative;
    width: 100%;
}

.contact-containers {
 display: flex;
 align-items: center;
 justify-content: center;
    cursor: pointer;

    svg {
        width: 55%;
    }
}

.headings {
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    margin: auto;
    position: relative;
    width: 100%;
}

#copyright {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 0.5em;
}

.slogan-container {
    background: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    }

/* The Close Button + HOVER*/

.close {
    color: #aaaaaa;
    font-size: 2em;
    position: relative;
    font-weight: bold;
    width: 1em;
    left: 0;
    height: 0.3em;
}

///  /*----------------------------------------- Mobile Platform -----------------------------------------*/

@media all and (min-width: 400px) {

}

@media all and (min-width: 450px) {
 
}

@media all and (min-width: 660px) {
    #slogan {
        letter-spacing: 2px;
    }

    .slideshow-container {
        height: 70vh;
    }

    footer {
        margin: auto;
    }
    .contact-info-container {
     width: 40em;
    }

    .hamburger-menu {
        display: none;
    }

    .navListExtended {
        @include navListExtended; //mixin in navbar.scss
    }
}
/*------------------------------------------ Desktop Platform ----------------------------------------*/

@media all and (min-width: 1024px) {

    .indexMain {
        justify-content: flex-start;
    }

    .slideshow-container {
        height: 100vh;
    }

    .contact-info-container {
        top: 35%;
        left: 0;
        flex-direction: column;
        width: 6em;
        height: 45%;
       transition: 1s ;
       position: absolute;
       justify-content: space-evenly;
    }
 
    #slogan {
        font-size: 1.3em;
        width: 90%;
        letter-spacing: 2px;
        font-weight: 1000;
    }

    .hamburgerBox {
        display: none;
    }
}

@media all and (min-width: 1500px) {
    #slogan {
        font-size: 1.5em;
        width: 100%;
        letter-spacing: 4px;
        word-spacing: 3px;
    }
}