* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slogan-container {
    width: 100%;
    display: flex;
    text-align: center;
}

#slogan {
    font-size: 0.7em;
    letter-spacing: 3px;
    line-height: 2;
    margin: auto;
    width: 100%;
    margin-top: 4.5em;
}

p {
    color: white;
    text-decoration: none;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.slideshow-container {
    @include slideShow;
    height: 100%;
    max-width: 680px;
    margin: auto;
}

.mySlides {
 height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.dotsContainer {
    display: none;
}

/* --------------------------- Contact Info Footer ------------------- */

.contact-info-container {
    background-color: #202a45b9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh
}

.contact-containers {
 @include flexCenter;
 
 height: 100%;

    cursor: pointer;

    svg {
        width: 30%;
    }
}

.headings {
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    margin: auto;
    position: relative;
    width: 100%;
}

#copyright {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 0.5em;
}


///  /*----------------------------------------- Mobile Platform -----------------------------------------*/

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 450px) {
}

@media only screen and (min-width: 660px) {


main {
         display: flex;
         height: 100vh;

}


#slogan {
     letter-spacing: 4px;
     margin-top: 0 ;

}

.slideshow-container {
    max-width: 950px;
}


.contact-info-container {
     flex-direction: row;
     height: 6em;
}

.hamburger-menu {
        display: none;
}

.navListExtended {
        @include navListExtended; //mixin in navbar.scss
}
}
/*------------------------------------------ Desktop Platform ----------------------------------------*/

@media only screen and (min-width: 1024px) {

main {
     height: 100vh;
     overflow-y: hidden;
}    

.slideshow-container {
    min-width: 100%;
}

    .contact-info-container {
        top: 35%;
        left: 0;
        flex-direction: column;
        width: 6em;
        height: 45%;
       transition: 1s ;
       position: absolute;
       justify-content: space-evenly;

       hr {
        transform: rotateZ(0deg);
        width: 50%;
       }
    }
 
    #slogan {
     font-size: 0.9em;
     width: 90%;
     letter-spacing: 3px;
     font-weight: 1000;
    }

    .hamburgerBox {
         display: none;
    }
}

@media only screen and (min-width: 1500px) {
     #slogan {
     font-size: 1.5em;
     width: 100%;
     letter-spacing: 4px;
     word-spacing: 3px;
    }
}