* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: solid 1px black;
}

#indexBody {
    height: 100vh;
    overflow: hidden;
}

.slogan-container {
     width: 100%;
     text-align: center;
}

#slogan {
     font-size: 0.7em;
     letter-spacing: 3px;
     line-height: 2;
     margin: auto;
     width: 100%;
     padding: 5px;
}

p {
    color: white;
    text-decoration: none;
    list-style: none;
}


main {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     position: absolute;
     bottom: 0;
}

#indexMain {
    padding-top: 3em;
    position: static
}

.slideshow-container {
    @include slideShow;
    height: 70%;
    max-width: 100%;
}

.mySlides {
 height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.dotsContainer {
    display: none;
}

/* --------------------------- Contact Info Footer ------------------- */

.contact-info-container {
    background-color: #202a45b9;
    display: block;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: auto;


        justify-content: space-evenly;
        color: whitesmoke;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      
    }

    hr {
        height: 100%;
    }
}

.socialMediaIcons {
 @include flexCenter;
 flex-direction: column-reverse;
 font-size: 12px;
 width: 100%;
 padding: 10px;

    cursor: pointer;

    svg {
        font-size: 3em;
        width: 1em;
    }
}

.headings {
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    margin: auto;
    position: relative;
    width: 100%;
}

#copyright {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 0.5em;
}

hr {
    width: 30%;
}


///  /*----------------------------------------- Mobile Platform -----------------------------------------*/

@media only screen and (min-width: 400px) {

.socialMediaIcons {
    height: 7em;
}
}

@media only screen and (min-width: 450px) {
}

@media only screen and (min-width: 768px) {
#indexMain {
        padding-top: 0em;
        position: static;
        flex-direction: row;
}


.socialMediaIcons {
    height: 100%;
    padding: 10px;
   }

#slogan {
     letter-spacing: 4px;
     margin-top: 0 ;
     padding: 2px;
}

.slogan-container {
    width: 50%;

}

.slideshow-container {
    width: 50%;
    height: 100%;
}

.contact-info-container {
    display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    
        flex-direction: row;
        width: 50%;
        height: 4em;
       transition: 1s ;
       position: absolute;
       justify-content: space-evenly;

       hr {
        height: 100%;
    }
}

.hamburger-menu {
        display: none;
}

.navListExtended {
        @include navListExtended; //mixin in navbar.scss
}
}
/*------------------------------------------ Desktop Platform ----------------------------------------*/

@media only screen and (min-width: 1024px) {

main {
     height: 100vh;
}    


.slideshow-container {
     min-width: 100%;
     min-height: 90%;
}

#slogan {
     font-size: 0.8em;
     width: 100%;
     letter-spacing: 5px;
     font-weight: 1000;
}

.hamburgerBox {
         display: none;
}
}

@media only screen and (min-width: 1500px) {
#slogan {
     font-size: 1.2em;
     letter-spacing: 7px;
}  
}