@mixin flexCenter {
    ///////////// FLEX DISPLAY CENTER
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navBar {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}


/* Slideshow container */

