@mixin flexCenter {
    ///////////// FLEX DISPLAY CENTER
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navBar {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

@mixin navListExtended {
  display: flex;
  justify-content: space-around;
  background:#3b4f8879;
  list-style: none;

  position: sticky;
     position: -webkit-sticky;
     top: 0em;
     z-index: 10;
}

/* Slideshow container */

@mixin slideShow {

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation: fade ease-in;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}


}