
.navListExtended {
    display: flex;
    align-items: center;
    display: none;
}

.bakerySection {
    display: flex;
    flex-direction: column;
    background-color: #202a45;
    gap: 3em;

    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    hr {
        width: 80%;
        margin: auto;
    }
}

.bakerySection::-webkit-scrollbar {
    display: none
}

.sub-heading {
    justify-content: center;
    padding: 5px;
    margin: auto;
    color: #fcd059;
    text-align: center;
    font-size: 0.6em;
    border-top: solid 1px #fcd059;
    border-bottom: solid 1px #fcd059;
    background-color: #202a45da;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.containers {
    text-align: center;
    @include flexCenter;
    flex-direction: column;
    padding: 1em;

    
    hr {
    margin: 1em 0;
    width: 50%

    }
}

.info {
    @include flexCenter;
    flex-direction: column;
    gap: 1em;
    background: rgba(59, 79, 136, 0.4745098039);
    padding: 1em;

    
    border-top-left-radius: 100%;
    border-top-right-radius: 20%;
    border-bottom-right-radius:15%;
    border-bottom-left-radius: 20%;

}

#doggyTreatsHeading {
     margin: auto;
     text-align: center;
     font-size: 8vw;
     text-transform: uppercase;
}

.titles {
    color: $maize;
    text-align: center;
    @include flexCenter;
    text-transform: uppercase;
    font-size: 7vw;
}

.productsHeading {
    font-size: clamp(2em, 6vw, 2.5em);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;

    text-transform: uppercase;
}

.productParagraph {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

a {
    text-align: center;
}

.bakerySection img {
    max-width: 100%;
}

.productParagraph {
    font-size: 1em;
}

.Peanut-Butter-And-Butternut-Dog-Treats-container {
    padding-bottom: 7em;
}

/*------------------------------------ Mobile Platform -----------------------------------*/


@media only screen and (min-width: 660px) {


.bakerySection {
     flex-direction: column;
     overflow: scroll;
     display: flex;
     margin: auto;

     img {
        width: 80%;
     }

     hr {
        width: 85%;
     }
}

.containers {
     margin: auto;
     padding: 2em;
     flex-direction: row;
}

.reverse {
     flex-direction: row-reverse;
}

.info {
     flex-direction: column;
     display: flex;
     width: 100%;
}

.titles {
     font-size: 2em;
     margin: auto;
     letter-spacing: 6px;
      width: 100%;

}

.mainHeading {
     font-size: 5vw;
}

.bakerySection img {
    margin: auto;
}

.productParagraph {
     font-size: 1em;

}

.Peanut-Butter-And-Butternut-Dog-Treats-container {
     padding-bottom: 7em;
}

.doggyTreatsHeading {
     margin: auto;
     width: 100%;
     text-align: center;
}

}

@media only screen and (min-width: 760px) {

.top-bar {
        display: none;
}

.sub-heading {
        font-size: 1vw;
}

.containers {
     @include flexCenter;
}
}

@media only screen and (min-width: 1000px) {

.mainHeading {
     font-size: 4vw;
     height: 7em;
     display: flex;
     @include flexCenter;
     padding-top: 0;

}

.bakerySection {
     width: 100%;
}

.containers {
     width: 80%;
}

.titles {
    font-size: 3em
}

}
    /*------------------------------------- Desktop Platform ------------------------------------*/
@media only screen and (min-width: 1200px) {

.bakerySection {
max-width: 1600px;
.productParagraph {
     width: 70%;
     line-height: 2;
     word-spacing: 2px;
     padding-top: 1em;
}
}



.sub-heading {
     height: fit-content;
     font-size: 0.9em;
}
}

@media only screen and (min-width : 1600px) {

.mainHeading {
     padding: 1em 0;
}

.titles {
     font-size: 4em;
}

.containers {
     height: 40em;
}

}