#logo {
    width: 6em;
    height: 6em;
}

.navListExtended {
    display: flex;
    align-items: center;
    display: none;
}

.extended-nav-item {
    list-style: none;
}

/* ------------------------------------ Bakery Section ------------------------------ */

.bakerySection {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #202a45;
    padding-top: 3em;
    gap: 3em;
    overflow: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.bakerySection::-webkit-scrollbar {
    display: none
}

/* ------------------------------------ HEADINGS ------------------------------ */

.mainHeading {
    @include flexCenter;
    font-size: 6vw;
    margin: auto;
    color: $maize;
    background-color: $blue;
    text-align: center;
    text-transform: uppercase;
    @media screen and(min-width: 760px) {
        .mainHeading {
            font-size: 8vw;
            width: 8em;
        }
    }
}

hr {
    width: 80%;
    margin: auto;
}

.sub-heading {
    justify-content: center;
    padding: 5px;
    margin: auto;
    color: #fcd059;
    text-align: center;
    font-size: 0.6em;
    border-top: solid 1px #fcd059;
    border-bottom: solid 1px #fcd059;
    background-color: #202a45da;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.containers {
    text-align: center;
    width: 100%;
}

.info {
    display: grid;
}

.dogTreatsHeading {
    margin: auto;
    width: 15em;
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
}

.titles {
    color: $maize;
    text-align: center;
    margin: auto;
    @include flexCenter;
    text-transform: uppercase;
    font-size: 9vw;
}

.productParagraph {
    font-size: 1.3em;
    width: 70%;
    margin: auto;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
    padding-top: 3em ;
}

a {
    text-align: center;
}

.bakerySection img {
    width: 80vw;
    height: 20em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
    @media screen and(min-width: 400px) {
        width: 70vw;
    }
}

.productParagraph {
    @include flexCenter;
    font-size: 1em;
}

.Peanut-Butter-And-Butternut-Dog-Treats-container {
    padding-bottom: 7em;
}

/*------------------------------------ Mobile Platform -----------------------------------*/

@media all and (min-width: 660px) {
    .hamburger-menu {
        display: none;
    }
    .navListExtended {
        @include navListExtended //mixin in navbar.scss
    }
    .extended-nav-item {
        list-style: none;
    }
    .bakerySection {
        flex-direction: row;
        overflow: scroll;
        display: flex;
        gap: 5em;
        .containers {
            display: flex;
            width: 100%;
        }
        .reverse {
            flex-direction: row-reverse;
        }
        .info {
            flex-direction: column;
            display: flex;
            justify-content: center;
            padding: 1em;
        }
        .titles {
            font-size: 7vw;
            margin: auto;
            letter-spacing: 6px;
             width: 100%;
             padding-bottom: 0.5em;

        }
        .mainHeading {
            font-size: 5vw;
        }
        .productParagraph {
            font-size: 3vw;
            width: 90%;
            padding-top: 1em;

        }

        img {
            width: 50vw;
            height: 100%;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
        }
        .Peanut-Butter-And-Butternut-Dog-Treats-container {
            padding-bottom: 7em;
        }
        .dogTreatsHeading {
            margin: auto;
            width: 30em;
            text-align: center;
            mainHeading {
                font-size: 5em;
            }
        }
    }
}

@media all and (min-width: 760px) {
    
}

@media all and (min-width: 1000px) {

    .bakerySection {
    
        .mainHeading {
            font-size: 5vw;
        }

     .productParagraph {
        font-size: 2vw;
    } 


}
}
    /*------------------------------------- Desktop Platform ------------------------------------*/
@media all and (min-width: 1200px) {

.bakerySection {
    .titles {
        font-size: 5vw;
        letter-spacing: 3px;
        width: 8em;
    }

    .productParagraph {
        width: 70%;
        line-height: 2;
        letter-spacing: 8px;
        word-spacing: 2px;
        padding-top: 1em;
}}

    .mainHeading {
        font-size: 3vw;
        padding: 2em 0;
    }
        .sub-heading {
            height: fit-content;
            font-size: 0.9em;
        }
}

@media all and (min-width : 1600px) {
    .mainHeading {
        padding: 1em 0;
    }
}