 /* ------------------------------------- SLOGAN ----------------------------- */
 
 .slogan-container {
     width: 100%;
     display: flex;
     padding: 0.5em;
 }
 
 #slogan {
     font-size: 1em;
 }