/* Slideshow container */
.top-bar {
  width: 100%;
  background-color: #202a45;
  position: fixed;
  top: -50em;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.change {
  top: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 4.5em;
  cursor: pointer;
}

#Logo-img {
  border-radius: 50%;
  height: 10.8em;
  border: solid 3px white;
}

.nav-list {
  flex-direction: column;
  text-align: center;
}

.nav-item {
  display: flex;
  height: 5em;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fcd059;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s;
  margin: -5px 0px;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.navListExtended {
  display: flex;
  align-items: center;
  display: none;
}

.sub-heading {
  justify-content: center;
  color: #fcd059;
  text-align: center;
  font-size: 12px;
  background-color: rgba(32, 42, 69, 0.2666666667);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bakerySection img {
  width: 100%;
  height: 100%;
}

.productsSection, .dogTreatsSection {
  display: grid;
  grid-column-gap: 4em;
  grid-row-gap: 10em;
  align-items: baseline;
}

.productsContainer {
  display: grid;
  text-align: center;
  gap: 3em;
  max-width: 20em;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

.productsPhotoContainer img {
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
}

.productsParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsHeadings {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogTreatsSection {
  position: relative;
  padding-bottom: 4em;
}

.infoBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contactUs::-webkit-scrollbar {
  display: none;
}

.title {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

.contactMap {
  width: 100%;
  height: 60vh;
}

a {
  text-decoration: none;
  font-style: normal;
  color: white;
}

.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  margin: 0.5em 0;
}

span {
  font-size: 1.4em;
  text-transform: uppercase;
  display: inline-flex;
  color: var(--heading-color);
}
span ion-icon {
  font-size: 3em;
  margin: auto;
  color: var(--heading-color);
}

input {
  background: rgba(59, 79, 136, 0.4745098039);
  border: none;
  padding: 1em;
}

textarea {
  background: rgba(59, 79, 136, 0.4745098039);
  border-style: none;
  padding: 1em;
  height: 5em;
  color: white;
}

.contactInfo {
  display: grid;
  padding: 3em;
}

.contactIcons {
  display: flex;
  align-items: baseline;
  padding-block: 2em;
  gap: 1em;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contactSection {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
  }
  .contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    flex-direction: column;
  }
  .contactIcons {
    margin: auto;
  }
  .contactMap {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media only screen and (min-width: 1024px) {
  .formInner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .contactInfo {
    flex-direction: row;
    padding: 2em;
  }
}
@media only screen and (min-width: 1600px) {
  .contactForm {
    width: 1700px;
    height: 80vh;
  }
}
* {
  padding: 0;
  margin: 0;
}

:root {
  --mobile-font-size: 16px;
  --desktop-font-size: 20px;
  --heading-color: #fcd059;
  --gap: 2em;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  background-color: #202a45;
  font-family: "Abel", sans-serif;
}

h1, h2 {
  color: var(--heading-color);
}

h1 {
  letter-spacing: 10px;
}

p {
  font-variant: var(--mobile-font-size);
  line-height: 1.5;
  letter-spacing: 2px;
  color: white;
  word-spacing: 4px;
}

.d-grid {
  display: grid;
}

/* ---------------------------- Hamburger Menu ----------------------------- */
.hamburgerBox {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(59, 79, 136, 0.4745098039);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hamburger-menu {
  width: 2em;
  /*3 Line formation to Hamburger style*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  border-radius: 50%;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.6s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-5px, 5px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-6px, -6px);
}

#logo {
  width: 6em;
  height: 6em;
}

#logoContainer {
  display: flex;
}

/* ------------------------------- SLIDESHOW CONTAINER ----------------------------- */
.slideshowSection {
  padding-top: 3em;
}
@media (min-width: 800px) {
  .slideshowSection {
    padding-top: 0;
  }
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation: fade ease-in;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 10%;
     object-position: center 10%;
}

.dotsContainer {
  display: none;
}

.visionHeadingContainer {
  font-size: 1.5em;
  color: #fcd059;
}

.heading {
  text-align: center;
  font-size: clamp(1.4em, 4vw, 2em);
  text-transform: uppercase;
  color: #fcd059;
  padding-block: 3em;
}

/* ------------------------------------- SLOGAN ----------------------------- */
.slogan-container {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  width: 100%;
}

#slogan {
  font-size: clamp(1em, 3vw, 1.5em);
  color: #fcd059;
  letter-spacing: 4px;
}

/* --------------------------- Contact Info Footer ------------------- */
.contact-info-container {
  background-color: rgba(32, 42, 69, 0.7254901961);
  display: block;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  color: whitesmoke;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.socialMediaIcons svg {
  font-size: 3em;
  width: 1em;
}

#copyright {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 0.5em;
}

.hr {
  margin: auto;
  transform: rotate(90deg);
  width: 3em;
  opacity: 0.4;
}

/* --------------------------- Vision Section------------------- */
.visionSection {
  display: grid;
  flex-direction: column;
}

.visionContainers {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 4em;
  gap: 3em;
}

.visionInfoContainer {
  flex-direction: column;
  text-align: left;
  gap: 0.3em;
  margin: auto;
  padding: 0 0.5em;
}

.visionPhotoContainer {
  display: flex;
}
.visionPhotoContainer .visionImages {
  width: 100%;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (min-width: 675px) {
  .visionPhotoContainer .visionImages {
    height: 20em;
  }
}

#reverseContainer {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .heading {
    word-spacing: 5px;
    width: 69%;
    margin: auto;
  }
  .top-bar {
    display: none;
  }
  .dogTreatsSection {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
  .hamburgerBox {
    display: none;
  }
  .navListExtended {
    display: flex;
    justify-content: space-evenly;
    background: rgba(59, 79, 136, 0.4745098039);
    list-style: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0em;
    z-index: 10;
  }
  #slideshowSection {
    padding-top: 0;
  }
  .slideshow-container {
    height: 25em;
  }
  /*------------------------------------ Vision Container -----------------------------------------*/
  .visionSection {
    max-width: 1400px;
    margin: auto;
  }
  .visionSection .hr {
    display: none;
  }
  .visionContainers {
    flex-direction: row;
    padding-block: 0;
    gap: 0;
  }
  .visionInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .visionParagraphContainer {
    padding: 0 1em;
  }
  .visionInfoContainer, .visionPhotoContainer {
    width: 50%;
    text-align: center;
  }
  #reverse {
    flex-direction: row-reverse;
  }
  #ourProgramme {
    width: 90%;
    padding-block: 4em;
  }
  /*------------------------------------ PRODUCTS SECTION -----------------------------------------*/
  .productsSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .productsContainer {
    gap: 3.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .productsHeadings {
    font-size: 1.4em;
  }
  .sub-heading {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200px) {
  .productsSection {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    grid-row-gap: 8em;
  }
  .productsContainer {
    gap: 3em;
  }
}
@media only screen and (min-width: 1440px) {
  p {
    font-size: var(--desktop-font-size);
  }
  .slideshow-container {
    height: 40em;
  }
  .slideshow-container img {
    height: 40em;
  }
  .productsContainer {
    gap: 4em;
  }
  .productsHeadings {
    font-size: 1.4em;
  }
  .productsPhotoContainer img {
    width: 110%;
  }
}/*# sourceMappingURL=style.css.map */