/* Slideshow container */
.top-bar {
  width: 100%;
  background-color: #202a45;
  position: fixed;
  top: -50em;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.change {
  top: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 4.5em;
  cursor: pointer;
}

#Logo-img {
  border-radius: 50%;
  height: 10.8em;
  border: solid 3px white;
}

.nav-list {
  flex-direction: column;
  text-align: center;
}

.nav-item {
  display: flex;
  height: 5em;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fcd059;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s;
  margin: -5px 0px;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.navListExtended {
  display: flex;
  align-items: center;
  display: none;
}

.bakerySection {
  display: flex;
  flex-direction: column;
  background-color: #202a45;
  gap: 3em;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
.bakerySection hr {
  width: 80%;
  margin: auto;
}

.bakerySection::-webkit-scrollbar {
  display: none;
}

.sub-heading {
  justify-content: center;
  padding: 5px;
  margin: auto;
  color: #fcd059;
  text-align: center;
  font-size: 0.6em;
  border-top: solid 1px #fcd059;
  border-bottom: solid 1px #fcd059;
  background-color: rgba(32, 42, 69, 0.8549019608);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.containers {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.containers hr {
  margin: 1em 0;
  width: 50%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background: rgba(59, 79, 136, 0.4745098039);
  padding: 1em;
  border-top-left-radius: 100%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 20%;
}

#doggyTreatsHeading {
  margin: auto;
  text-align: center;
  font-size: 8vw;
  text-transform: uppercase;
}

.titles {
  color: #fcd059;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 7vw;
}

.productsHeading {
  font-size: clamp(2em, 6vw, 2.5em);
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
  text-transform: uppercase;
}

.productParagraph {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 2px;
  text-transform: uppercase;
}

a {
  text-align: center;
}

.bakerySection img {
  max-width: 100%;
}

.productParagraph {
  font-size: 1em;
}

.Peanut-Butter-And-Butternut-Dog-Treats-container {
  padding-bottom: 7em;
}

/*------------------------------------ Mobile Platform -----------------------------------*/
@media only screen and (min-width: 660px) {
  .bakerySection {
    flex-direction: column;
    overflow: scroll;
    display: flex;
    margin: auto;
  }
  .bakerySection img {
    width: 80%;
  }
  .bakerySection hr {
    width: 85%;
  }
  .containers {
    margin: auto;
    padding: 2em;
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .info {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .titles {
    font-size: 2em;
    margin: auto;
    letter-spacing: 6px;
    width: 100%;
  }
  .mainHeading {
    font-size: 5vw;
  }
  .bakerySection img {
    margin: auto;
  }
  .productParagraph {
    font-size: 1em;
  }
  .Peanut-Butter-And-Butternut-Dog-Treats-container {
    padding-bottom: 7em;
  }
  .doggyTreatsHeading {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 760px) {
  .top-bar {
    display: none;
  }
  .sub-heading {
    font-size: 1vw;
  }
  .containers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1000px) {
  .mainHeading {
    font-size: 4vw;
    height: 7em;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .bakerySection {
    width: 100%;
  }
  .containers {
    width: 80%;
  }
  .titles {
    font-size: 3em;
  }
}
/*------------------------------------- Desktop Platform ------------------------------------*/
@media only screen and (min-width: 1200px) {
  .bakerySection {
    max-width: 1600px;
  }
  .bakerySection .productParagraph {
    width: 70%;
    line-height: 2;
    word-spacing: 2px;
    padding-top: 1em;
  }
  .sub-heading {
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1600px) {
  .mainHeading {
    padding: 1em 0;
  }
  .titles {
    font-size: 4em;
  }
  .containers {
    height: 40em;
  }
}
.d-grid {
  display: grid;
}

.infoBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contactUs::-webkit-scrollbar {
  display: none;
}

.title {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.contactHeading {
  text-align: center;
  font-size: clamp(2em, 7vw, 4em);
  text-transform: uppercase;
  padding-top: 2em;
}

.contactMap {
  width: 100%;
  height: 60vh;
}

a {
  text-decoration: none;
  font-style: normal;
  color: white;
}

.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  margin: 0.5em 0;
}

input {
  background: rgba(59, 79, 136, 0.4745098039);
  color: white;
  border: none;
  padding: 1em;
}

textarea {
  background: rgba(59, 79, 136, 0.4745098039);
  border-style: none;
  padding: 1em;
  height: 5em;
  color: white;
}

span {
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-flex;
}
span ion-icon {
  font-size: 3em;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactIcons {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  margin: auto;
  padding-block: 2em;
}
.contactIcons a {
  margin: auto;
}

@media only screen and (min-width: 660px) {
  .contactInfo {
    display: flex;
    width: 100%;
    height: 10em;
    flex-direction: row;
  }
}
@media only screen and (min-width: 800px) {
  .formInner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .contactHeading {
    padding-block: 0.5em;
  }
  .contactInfo {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  #contactMain {
    padding: 0 3em;
  }
}
@media only screen and (min-width: 1600px) {
  .contactForm {
    width: 1700px;
    height: 80vh;
  }
}
* {
  padding: 0;
  margin: 0;
}

:root {
  --mobile-font-size: 16px;
  --desktop-font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  color: #fcd059;
  background-color: #202a45;
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
}

/* ---------------------------- Hamburger Menu ----------------------------- */
.hamburgerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(59, 79, 136, 0.4745098039);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hamburger-menu {
  width: 2em;
  height: 3em;
  /*3 Line formation to Hamburger style*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%;
  padding: 0.5em 0;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.6s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-5px, 5px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-6px, -6px);
}

#logo {
  width: 6em;
  height: 6em;
  border: solid white 2px;
  border-radius: 50%;
}

#logoContainer {
  display: flex;
}

/* ------------------------------- SLIDESHOW CONTAINER ----------------------------- */
.slideshowSection {
  padding-top: 0em;
}

.slideshow-container {
  /* Fading animation */
}
.slideshow-container .active {
  background-color: #717171;
}
.slideshow-container .fade {
  animation: fade ease-in;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container img {
  width: 100%;
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 40%;
     object-position: center 40%;
}

.dotsContainer {
  display: none;
}

p {
  color: #ffffff;
  text-align: center;
  padding: 0.5em;
}

.headingContainer {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

/* ------------------------------------- SLOGAN ----------------------------- */
.slogan-container {
  text-align: center;
  padding-block: 2em;
}

#slogan {
  font-size: clamp(1em, 3vw, 2em);
}

/* --------------------------- Contact Info Footer ------------------- */
.contact-info-container {
  background-color: rgba(32, 42, 69, 0.7254901961);
  display: block;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  color: whitesmoke;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.socialMediaIcons svg {
  font-size: 3em;
  width: 1em;
}

.headings {
  color: #ffffff;
  font-size: 0.7em;
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
}

#copyright {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 0.5em;
}

hr {
  width: 30%;
}

.visionSection {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  padding: 0 0.5em;
}

.visionSection:-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.visionContainers {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100%;
  gap: 3em;
  position: relative;
}

.imgContainer {
  display: flex;
  gap: 2em;
}
.imgContainer .visionImages {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#reverseContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}

#reverseImg {
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .hamburgerBox {
    display: none;
  }
  #slideshowSection {
    padding-top: 0;
    height: 100%;
  }
  .navListExtended {
    display: flex;
    justify-content: space-around;
    background: rgba(59, 79, 136, 0.4745098039);
    list-style: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0em;
    z-index: 10;
  }
  .slideshow-container img {
    height: 20em;
    -o-object-position: center 10%;
       object-position: center 10%;
  }
  /*------------------------------------ Vision Container -----------------------------------------*/
  .infoContainers {
    width: 80%;
    margin-bottom: 1em;
  }
  #reverseContainer {
    flex-direction: column;
  }
  #reverseImg {
    flex-direction: row;
    width: 50%;
    display: -webkit-inline-box;
  }
  .visionSection {
    gap: 0;
  }
  .containerInfo {
    display: flex;
    flex-direction: column;
  }
  #reverseContainer {
    display: flex;
  }
  .visionContainers {
    flex-direction: row;
    margin: 0;
    gap: 0;
  }
  .imgContainer {
    width: 100%;
  }
  .visionContainers:nth-child(2) {
    flex-direction: row-reverse;
  }
  .containerInfo {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .visionSection {
    max-width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .slideshow-container img {
    height: 30em;
  }
  #slideshowSection {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1500px) {
  .slideshow-container img {
    height: 40em;
  }
}/*# sourceMappingURL=style.css.map */