@import "./variables";
@import "./mixins";
@import "./navbar";
@import "./productsPage";
@import "./contactForm";

* {
    padding: 0;
    margin: 0;
    // border: solid 0.1px black;
}

:root {
  --mobile-font-size: 16px;
  --desktop-font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

}

body {
    color: #fcd059;
    background-color: #202a45;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

#main {
  height: 100%;
  width: 100%;
  
}

/* ---------------------------- Hamburger Menu ----------------------------- */       

.hamburgerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background:#3b4f8879;
    position: fixed;
    top: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

.hamburger-menu {
    width: 2em;
    height: 3em; 
    
    /*3 Line formation to Hamburger style*/
    display: flex;
    flex-direction: column;
    justify-content: space-around; 

    border-radius: 50%;
    padding: 0.5em 0;  
}

.line {
    width: 100%;
    height: 2px; 
    border-radius: 10px;
    background-color: white;
    transition: all 0.6s;
}        

.change .line-1 {
    transform: rotateZ(-405deg) translate(-5px, 5px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-6px, -6px);
} 

#logo {
    width: 6em;
    height: 6em;
    border: solid white 2px;
    border-radius: 50%;
}

#logoContainer {
  display: flex;
}

 /* ------------------------------- SLIDESHOW CONTAINER ----------------------------- */


 #slideshowSection {
  padding-top: 3em;
}

.slideshow-container {
  @include slideShow;
  
}

.slideshow-container img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: center 40%;
}

.mySlides {
height: 100%;

  img {
      width: 100%;
      height: 100%;
  }
}

.dotsContainer {
  display: none;
}

p {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}

.headingContainer {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

/* ------------------------------------- SLOGAN ----------------------------- */

.slogan-container {
  text-align: center;
  padding-block: 2em;
}

#slogan {
  font-size: clamp(1em, 3vw, 2em);
}

/* --------------------------- Contact Info Footer ------------------- */

.contact-info-container {
  background-color: #202a45b9;
  display: block;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: auto;

  justify-content: space-evenly;
  color: whitesmoke;
}

.socialMediaIcons {
@include flexCenter;
flex-direction: column-reverse;
font-size: 12px;
width: 100%;
padding: 10px;

  cursor: pointer;

  svg {
      font-size: 3em;
      width: 1em;
  }
}

.headings {
  color: #ffffff;
  font-size: 0.7em;
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
}

#copyright {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 0.5em;
}

hr {
  width: 30%;
}

.visionSection {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  padding: 0 0.5em;
}

.visionSection:-webkit-scrollbar {
display: none;
scrollbar-width: none;
}

.visionContainers {
display: flex;
flex-direction: column-reverse;
justify-content: center;
height: 100%;
gap: 3em;
position: relative;
}

.imgContainer {
display: flex;
gap: 2em;

.visionImages {
width: 100%;
object-fit: cover;
}
}

#reverseContainer {
display: flex;
flex-direction: column-reverse;
gap: 2em;
}

#reverseImg {
flex-direction: column;
}

@media only screen and (min-width: 768px) {

 .hamburgerBox {
     display: none;
 }
 
  #slideshowSection {
     padding-top: 0;
     height: 100%
 }

 .navListExtended {
     @include navListExtended; //mixin in navbar.scss
 }
 
 .slideshow-container img {
    height: 20em;
    object-position: center 10%;
 }

 /*------------------------------------ Vision Container -----------------------------------------*/

.infoContainers {
   width: 80%;
   margin-bottom: 1em;
}

#reverseContainer {
   flex-direction: column;
}

#reverseImg {
   flex-direction: row;
   width: 50%;
   display: -webkit-inline-box;
}

  .visionSection {
   gap: 0;
  }

  .containerInfo{
   display: flex;
   flex-direction: column;
  }

  #reverseContainer {
   display: flex;
  }

 .visionContainers {
   flex-direction: row;
   margin: 0;
   gap: 0;
 }

 .imgContainer {
   width: 100%;
 }

 #josh {
   height: 100%;
}

.visionContainers:nth-child(2) {
  flex-direction: row-reverse;
}

.visionContainers:nth-child(3) {
  width: 100%;
}

.visionContainers:nth-child(4) {
  width: 100%;
  padding-top: 2em;

}
.containerInfo {
  justify-content: center;
}

.containerInfo:nth-child(2) {
  width: 100%;
}
}
 
@media only screen and (min-width: 1024px) {

.visionSection {
    max-width: 95% ;
    margin: auto;
}
}
 
@media only screen and (min-width: 1200px) {

  .slideshow-container img {
    height: 30em;
  }

    #slideshowSection {
        flex-direction: row;
    }
}
 
@media only screen and (min-width: 1500px) {

  .slideshow-container img {
    height: 40em;
  }
}