* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------- VISION + PARAGRAPH SECTION ----------------------------- */

.visionSection {
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
    
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background-color: #202a45;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    gap: 3em;

    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

}

.visionSection:-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.visionContainers {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      height: 100%;
     gap: 3em;
}

.containerInfo {
  display: grid;
  gap: 2em;
  justify-content: center;
}

.visionHeadings {
  font-size: 13vw;
  margin: auto;
  width: 100%;
}

.paragraphs {
  line-height: 2;
  letter-spacing: 3px;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0 1em;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;


  .visionImages {
    width: 100%;
    height: 100%;
  }
}

.paragraph-section::-webkit-scrollbar {
   display: none;
}

.headingContainer { 
   text-align: center;
   
}

.CEO {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7vw;
  padding: 0.95em;
}

hr {
  transform: rotateZ(0deg);
  margin: auto;
 }

/* ------------------------------------- INFOR NTAINERS ----------------------------- */


 /*------------------------------------ Phone & Tablet -----------------------------------*/
 
 @media all and (min-width : 400px) {
  .visionHeadings {
    font-size: 3em;
    width: 100%;
  }

  .paragraphs {
    padding: 0 1em;
    text-align: center;
  }

 }

 @media all and (min-width : 660px) {

  .visionHeadings {
    font-size: 3.5em;
  }


  .containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .paragraphs {
    text-align: center;
  }

  .visionSection {
    gap: 0;
  }

  .CEO {
    text-align: center;
    font-size: 4vw;
  }

 .visionContainers {
  flex-direction: row;
  margin: 0;
  gap: 0;
 }

 #joshContainer {
  height: 550px;
 }

 .imgContainer {
  width: 100%;
 }

 #josh {
  height: 100%;
 }

 .visionContainers:nth-child(2) {
  flex-direction: row-reverse;
  height: 800px;

 }

 .visionContainers:nth-child(3) {
  width: 100%;
 }
 
 .visionContainers:nth-child(4) {
  width: 100%;
  padding-top: 2em;
 
 }

 .containerInfo {
   justify-content: center;
 }

 .containerInfo:nth-child(2) {
  width: 100%;
 }
 }

 @media all and (min-width : 768px) {
 
 /*------------------------------------ Navigation Bar -----------------------------------------*/
 
 .logo-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 1em;
 }
 
 #Logo-img {   
   height: 15.5em;
   border-radius: 100%;   
   z-index: 1;  
 }
   
 .side-bar {
   width: 16.3em;
   height: 10em;  
   padding-bottom: 25em;
   left: -18em;
 }
 
 .change {
   left: 0;
 }
 
 .nav-item {
   margin-top: 3em;
   display: flex;
   width: fit-content;
 }
 /*------------------------------------ Vision Container -----------------------------------------*/

 .infoContainers {
  width: 80%;
  margin-bottom: 1em;
 }}
 
 /*------------------------------------ Desktop & Laptop -----------------------------------*/
 @media all and (min-width : 1000px) {

 

 }

 @media all and (min-width : 1280px) {

  .contactForm {
    width: 100vw;
  }

 }
 
 @media all and (min-width : 1500px) {

 .containerInfo {
  letter-spacing: 10px;
  font-size: 1em;
 }

 .visionHeadings {
  font-size: 5vw;
}

 }